
html {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

body {
    background-image: url(//www.toptal.com/designers/subtlepatterns/patterns/symphony.png);
    background-position: bottom;
    animation: 4s linear 0s infinite bp;
    height: 100%;
    width: 100%;
    margin: 0;
}

@keyframes bp {
    from {
        background-position: 198px 0;
    }

    to {
        background-position: 0 198px;
    }
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 10%;
    background-color: black;
}

    .sidebar a {
        display: block;
        border-bottom: 3px solid;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        color: white;
        transition: all 0.1s ease-in-out;
    }

    .sidebar p {
        text-decoration: none;
        color: white;
        text-align: center;
    }

    .sidebar img {
        display: block;
        margin: auto;
        width: 85%;
        border: 2px solid white;
    }

    .sidebar a:hover {
        color: darkolivegreen;
        border-color: darkolivegreen;
    }

.content {
    float: left;
    width: 85%;
    height: 100%;
    margin-left: 15%;
    margin-bottom: 25px;
}

    .content .home {
        padding-top: 25%;
    }

        .content .home .word {
            font-family: 'Anton', sans-serif;
            font-size: 10vw;
        }

            .content .home .word span {
                transition: all .1s ease-in-out;
            }

                .content .home .word span:hover {
                    font-size: 20vw;
                }
    
    .content .collapsible {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 5vh;
    background-color: darkgrey;
    cursor: pointer;
    border: none;
    font-family: ui-sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
}

    .content .active, .collapsible:hover {
        background-color: lightgrey;
    }

    .content .collapsible:after {
    content: '\2795'; /* Unicode character for "plus" sign (+) */
    color: white;
    float: right;
    margin-left: 5px;
    }

    .content .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

.content .DropDownContent {
    margin-bottom: 50px;
    display: none;
}

    .content .DropDownContent img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .content .DropDownContent a {
        font-size: 30px;
        display: block;
        text-align: center;
    }

    .content .DropDownContent p, h1 {
        text-align: center;
    }

    .content .DropDownContent .scriptWrapper embed {
        background-color: #9c9c9c;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 250px;
        width: 100%;
        margin-bottom: 25px;
    }

    .content .MyProjects {
        display: none;
        padding-top: 25px;
    }
        
    .content .Resume {
        display: none;
        padding-top: 25px;
    }

        .content .Resume .ResumeBody {
            margin-bottom: 50px;
        }

            .content .Resume .ResumeBody h1, p {
                text-align: center;
            }

    .content .AboutMe {
        display: none; /*Intitially hidden*/
        padding-top: 25px;
    }


    .content .ContactMe {
        display: none;
        padding-top: 25px;
    }

        .content .ContactMe input[type=text], textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .content .ContactMe input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .content .ContactMe input[type=submit]:hover {
                background-color: #45a049;
            }


@media only screen and (max-device-width: 900px) {
    .sidebar {
        width: 100px;
    }

    .content {
        margin-left: 110px;
    }

    .content .collapsible{
        font-size: 15px;
    }
}

@media only screen and (min-device-width: 1600px) {
    .sidebar {
        width: 180px;
    }

    .content {
        margin-left: 200px;
    }
}
