
html {
    overflow-y: scroll;
    max-width: 1140px;
    height: 100%;
    width: 100%;
}

.gist {
    width: 500px !important;
}

body {
    background-image: media/gradient.png;
    background-position: bottom;
    animation: 4s linear 0s infinite bp;
    position: absolute;
    background-color: skyblue;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
}

@keyframes bp {
  from {
    background-position:  198px 0;
  }
  
  to {
    background-position:  0 198px;
  }
}

.sidebar {
    height: 100%;
    width: 8%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

    .sidebar a {
        width: 100%;
        padding: 15px 10px 0px 0px;
        text-decoration: none;
        font-size: 20px;
        border-bottom: 3px solid;
        border-color: beige;
        color: white;
        display: block;
        transition: all 0.1s ease-in-out;
        text-align: center;
    }

    .sidebar p {
        padding: 0px 8px 4px 3px;
        text-decoration: none;
        font-size: 12px;
        color: white;
        display: block;
        text-align: center;
    }

    .sidebar .imageWrap {
        display: flex;
    }

        .sidebar .imageWrap img {
            margin: auto;
            border: 3px solid beige;
        }


    .sidebar a:hover {
        color: darkolivegreen;
        border-color: darkolivegreen;
    }


.content {
    height: max-content;
    width: 80%;
    margin-left: 8%;
    max-width: 92%;
    padding-left: 100px;
}

    .content .home {
        display: block;
        overflow-y: hidden;
        padding-top: 10%;
        height: 100%;
        position: absolute;
        align-content: center;
    }

        .content .home .word {
            font-family: 'Anton', sans-serif;
            perspective: 1000px;
        }

            .content .home .word span {
                display: inline-block;
                font-size: 100px;
                width: auto;
                height: auto;
                transition: all .1s ease-in-out;
                text-align: center;
            }

                .content .home .word span:hover {
                    font-size: 150px;
                }
    /* My actual portfolio projects page*/

    .content .MyProjects {
        display: none;

    }

        .content .MyProjects .ProjBody {
            padding-bottom: 50px;
        }

            .content .MyProjects .ProjBody p {
                font-size: 25px;
                color: black;
                text-align: center;
            }

            .content .MyProjects .ProjBody h2 {
                font-size: 60px;
                color: black;
                text-align: center;
            }

            .content .MyProjects .ProjBody img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .content .MyProjects .ProjBody a{
                font-size: 30px;
                display: block;
                text-align: center;
            }

            .content .MyProjects .ProjBody .scriptWrapper {
                display: flex;
                flex-wrap: wrap;
            }

                .content .MyProjects .ProjBody .scriptWrapper embed {
                    min-width: 550px;
                    height: 500px;
                    background-color: white;
                    margin-bottom: 25px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

    /*End Portfolio projects*/

/* resume page 
contains something
*/
    .content .Resume {
        display: none;
        padding-left: 1%;
        grid-template-columns: 45% 45%;
        grid-row: auto auto;
        grid-column-gap: 2%;
        grid-row-gap: 1%;
    }

        .content .Resume .ResumeBody{
            width: 100%;
            height: 100%;
        }

        .content .Resume .ResumeBody h4{
            font-size: 2.5vw;
            color: black;
        }

        .content .Resume .ResumeBody dl{
            font-size: 1.5vw;
        }

        .content .Resume .ResumeBody dt{
            float: left;
            width: 50%;
        }

        .content .Resume .ResumeBody dd{
            float: left;
            width: 40%
        }

/* end resume page */
    /*About me page
  Contains blog style paragraph sections with a title, body, and image to the right of the body
*/
    .content .AboutMe {
        display: none; /*Intitially hidden*/
        padding-left: 1%;
        grid-template-columns: 45% 45%;
        grid-row: auto auto;
        grid-column-gap: 2%;
        grid-row-gap: 1%;
    }

        .content .AboutMe .Body {
            width: 100%;
            height: 100%;
        }

            .content .AboutMe .Body h1 {
                font-size: 60px;
                color: black;
                text-align: center;
            }

            .content .AboutMe .Body p {
                font-size: 25px;
                text-align: center;
                color: black;
            }

            .content .AboutMe .Body img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
                max-height: 100%;
            }

    /*End about me page*/

    .content .ContactMe {
        display: none;
        overflow-y: hidden;
        padding-left: 100px;
        padding-top: 10%;
        min-width: 600px;
        height: 100%;
        position: absolute;
        align-content: center;
    }


        .content .ContactMe input[type=text], textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        .content .ContactMe input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .content .ContactMe input[type=submit]:hover {
                background-color: #45a049;
            }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
